body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

#header {
  text-align: center;
}

#settingsMain {
  position: relative;
  display: block;
  border-top: 2px solid black;
  width: 100vw;
  height: auto;
}